@font-face {
    font-family: Chella;
    src: url("Chella-SemiBoldItalic.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

footer .container {
    background-color: #0c2626;
}

.logoApi {
    width: 150px;
    margin-top: -35px;   
    margin-bottom: -10px;
    margin-left: 45px;
}

.icon_phone {
    width: 20px;
    opacity: 0.5;
}

.icon_maps {
    width: 30px;
    opacity: 0.5;
}

.icon_mail {
    width: 30px;
    opacity: 0.5;
}

.footer-col a {
    color: #fff;
    margin-top: 0;
    font-size: 40px;
    position: relative;
    margin-left: 15px;
}

.footer-col b {
    color: #fff;
    margin-top: 0;
    font-size: 40px;
    position: relative;
    font-family: 'Chella';
}

.footer-col c {
    color: #fff;
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 12.5px;
    margin-left: -27px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
}

.footer-col ul {
    list-style: none;
}

.footer-col h4 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #cc9918;
    bottom: -10px
}

.footer-col ul li {
    padding: 10px 0;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.7;
    transition: 0.2s;
}

.footer-col ul li a:hover {
    opacity: 1;
}

.footer-col input {
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
}

.footer-col .input_submit {
    padding: 0px 20px;
    background-color: #cc9918;
    border: none;
    color: #fff
}

.col p {
    /* color: #fff; */
    color: #cc9918;
    font-size: 13px;
}

hr {
    opacity: 0.5;
} 

.row .social_icon i {
    display: inline-block;
    color: #cc9918;
    font-size: 20px;
    margin: 0 15px;
    transition: 0.2s;
}

.row .social_icon i:hover {
    color: #fff;
}

/* body {
    margin: 0;
    overflow: hidden;
}

.footer {
    position: static;
    background-color: #0c2626;
    margin-top: 480px;
    height: 227px;
}

.logo_container {
    position: absolute;
    margin-left: 20px;
    margin-right: 83%;
    height: 100%;
}

.logo {
    height: 130px;
    margin-left: 30%;
    margin-right: 30%;
}

@font-face {
    font-family: Chella;
    src: url("Chella-SemiBoldItalic.ttf");
 }

.ApiControl {
    text-align: center;
    font-size: xx-large;
    font-family: Chella;
    color: #fff;
}

.slogan {
    text-align: center;
    font-size: x-small;
    font-family: monospace;
    color: #fff;
}

.icones { 
    position: absolute;
    height: 100%;
    margin-left: 37%;
    margin-right: 0;
    margin-top: 0px;
    font-size: large;
    font-family: sans-serif;
    color: #fff;
    
    float:left; 
    margin-bottom:2em;
  }

.linha {
    width: 100%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.19);
  }

.iconWpp {
    background-color: #0c2626;
    width: 50px;
    margin-bottom: 25%;
}

.iconLkd {
    background-color: #0c2626;
    width: 50px;
    margin-bottom: 30%;
}

.iconFace {
    background-color: #0c2626;
    width: 30px;
    margin-bottom: 30%;
}

.iconInsta {
    background-color: #0c2626;
    width: 50px;
    margin-bottom: 50%;
} */

