/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'Chella';
  src: local('Chella SemiBold Italic'), local('Chella-SemiBold-Italic'),
      url('fontes/Chella-SemiBoldItalic.woff2') format('woff2'),
      url('fontes/Chella-SemiBoldItalic.woff') format('woff'),
      url('fontes/Chella-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: Chella;
  src: url("fontes/Chella-SemiBoldItalic.ttf");
}

html, body {
  margin: 0;
  height: 100%;
}

/* Style do header com background e padding pra posicionamento */
.header {
  overflow: hidden;
  background-color: #0C2626;
  padding: 20px 10px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style dos links do header */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style do link do logo (Font-size com o mesmo valor do line-height do .header pra evitar conflito) */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header img {
  height: 50px;
  float: left;
}

/* Background-color muda com mouse por cima */
.header a:hover {
  background-color: #FFE087;
  color: #0C2626;
}

/* Style do link atual*/
.header a.active {
  background-color: #FFB800;
  color: #0C2626;
}

/* Links pra direita */
.header-right {
  float: right;
}

/* "Responsividade" */
@media screen and (max-width: 837px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  .header img {
    height: 40px;
    margin-right: 15px;
    position: center;
  }
}

/* Login */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background-image: url('https://wallpapers.com/images/hd/honeycomb-bright-yellow-3ohq0vhdvb63kiki.jpg');
  backdrop-filter: blur(5px);
}

.container-form {
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgb(12, 38, 38, 1);
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.container-form h2 {
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #0c2626;
}

.container-form h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #FFB800;
}

.container-form form {
  margin-top: 30px;
}

.container-form form .input-field {
  height: 52px;
  margin: 18px 0;
}

form .input-field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #0C2626;
  border: 1.5px solid #0C2626;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-field input:focus {
  border-color: #FFB800;
}

.input-field input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  border: 1px solid #d1d1d1;
}

.invalid .input-field input {
  border-color: #d93025;
}

.field .error {
  display: flex;
  align-items: center;
  margin-top: 6px;
  color: #d93025;
  font-size: 13px;
  display: none;
}

.invalid .error {
  display: flex;
}

.error .error-icon {
  margin-right: 6px;
  font-size: 15px;
}

.create-password .error {
  align-items: flex-start;
}

.create-password .error-icon {
  margin-top: 4px;
}

.button {
  margin: 25px 0 6px;
}

.input-field.button input {
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #CC9918;
  cursor: pointer;
}

.button input:hover {
  background-color: #FFB800;
}

form .policy_lembrar {
  display: flex;
  align-items: center;
  margin: 18px 0;
}

form h3 {
  color: #0C2626;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

form .text h3 {
  color: #0C2626;
  width: 100%;
  text-align: center;
}

form .text h3 a {
  color: #CC9918;
  text-decoration: none;
}

form .text h3 a:hover {
  text-decoration: underline;
}

/* Footer */
footer .container {
  background-color: #0c2626;
  margin:auto;
}

.footer-logo {
  margin-right: 15px;
}

.logoApi {
  width: 150px;
  margin-top: -35px;   
  margin-bottom: -10px;
  margin-left: 45px;
}

.icon_phone {
  width: 20px;
  opacity: 0.5;
}

.icon_maps {
  width: 30px;
  opacity: 0.5;
}

.icon_mail {
  width: 30px;
  opacity: 0.5;
}

.footer-col a {
  color: #fff;
  margin-top: 0;
  font-size: 40px;
  position: relative;
  margin-left: 15px;
}

.footer-col b {
  color: #fff;
  margin-top: 0;
  font-size: 40px;
  position: relative;
  font-family: 'Chella';
}

.footer-col c {
  color: #fff;
  font-family: monospace;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 12.5px;
  margin-left: -27px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 100px;
}

.footer-col ul {
  list-style: none;
}

.footer-col h4 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
  position: relative;
}

.footer-col h4::before {
  content: '';
  width: 70px;
  height: 2px;
  position: absolute;
  background-color: #cc9918;
  bottom: -10px
}

.footer-col ul li {
  padding: 10px 0;
}

.footer-col ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.7;
  transition: 0.2s;
}

.footer-col ul li a:hover {
  opacity: 1;
}

.footer-col input {
  border: none;
  width: 250px;
  height: 45px;
  display: block;
  padding-left: 20px;
  margin: 14px 0;
}

.footer-col .input_submit {
  padding: 0px 20px;
  background-color: #cc9918;
  border: none;
  color: #fff
}

.col p {
  color: #cc9918;
  font-size: 13px;
}

hr {
  opacity: 0.5;
} 

.row .social_icon i {
  display: inline-block;
  color: #cc9918;
  font-size: 20px;
  margin: 0 15px;
  transition: 0.2s;
}

.row .social_icon i:hover {
  color: #fff;
}

/* "Responsividade" */
@media(max-width: 770px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
    text-align: center;
  }
  .footer-col h4 {
    text-align: left;
  }
  .logoApi {
    margin-left: 0;
  }
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
  .footer-col h4 {
    text-align: left;
  }
  .logoApi {
    margin-left: 0;
  }
}