body {
    margin: 0
}

/* header */
.header {
    background-color: #0c2626;
    width: 100%;
    height: 90px;
    font-family: 'Poppins', sans-serif;

}

.header .container h1 {
    color: white;
    justify-content: left;
    padding-left: 2%;
    font-size: 26px;
}

.header .container h1 a {
    text-decoration: none;
    color: white;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    height: 100%;
}

.header .container .botoes_header {
    display: inline;
    padding-right: 2%;

}

.header .container .botoes_header a {
    text-decoration: none;
    color: white;
    padding: 0 18px;
    font-size: 20px;
    padding-top: 7%;
    padding-bottom: 7%;
}

.botoes_header :hover {
    background-color: #143f3f;
}

/* conteúdo da dashboard */

.painel{
    font-family: 'Poppins', sans-serif;
}

.painel .container h1 {
    display: inline;
    margin: 0;
    color: white;
    padding-left: 80px;
    padding-top: 10px;
    align-items: center;
}

.painel .container {
    background-color: #110f00;
    width: 90%;
    height: 567px;
    margin: 0;
    padding: 10px 5%;
}

.painel .container .lista_colmeias{
    width: 200px;
}


.painel .container .lista_colmeias a {
    display: block;
    color: white;
    text-decoration: none;
    padding-top: 5px;
}

.painel .container .texto_periodo{
    display: flex;
    justify-content: right;
    color: white;
    
}

.painel .container .texto_periodo .periodos{
    display: flex;
    justify-content: end;
    border-radius: 5px;
}

.painel .container .lista_colmeias .lista_colmeia_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 130px;
}
/* melhorar dimensionalidade (espaçamento) do width (bolinhas de status) */

.painel .container .lista_colmeias .lista_colmeia_item .status_colmeia{
    border-radius: 50px;
    width: 20px;
    height: 20px;
    background-color: #fff;

}